<h1>New Billboard</h1>
<hr />

<%= form_for @billboard do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :active %>
    <%= f.check_box :active %>

    <%= f.submit %>
<% end %>

<hr />

<%= link_to 'Cancel', billboards_path %>